@import '../../shared/style';

.home {
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  background: #010310;

  header {
    height: px(99);
    background-size: cover;
  }

  main {
    flex: 1;
    display: grid;
    grid-template: "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
      position: relative;
      &::before {
        content: '';
        clear: both;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
        display: block;
        content: '';
        clear: both;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        box-shadow: 17px 0 0 -16px #0e325f,
        -17px 0 0 -16px #0e325f,
        0 17px 0 -16px #0e325f,
        0 -17px 0 -16px #0e325f,
        9px 0 0 -8px #0d4483,
        -9px 0 0 -8px #0d4483,
        0 9px 0 -8px #0d4483,
        0 -9px 0 -8px #0d4483;
      }
    }

    .chart_wrapper {
      display: flex;
      flex-direction: column;
      p{
        margin: 0 auto;
        color: white;
        flex-shrink: 1;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid rgb(30, 76, 139);
        font-size: px(22);
        text-align: center;
        text-shadow: 0 0 px(3) white;
        padding: 0 px(16);
      }
      > div {
        flex: 1;
      }
    }

    .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .管辖统计 {
        height: px(315);
      }
      .破获排名{
        height: px(423);
      }
    }

    .section2 {
      grid-area: box2;
      .趋势分析{
        height:px(360);
      }
      .时段分析{
        height:px(358)
      }

    }

    .section3 {
      grid-area: box3;

    }

    .section4 {
      grid-area: box4;

    }

    .section5 {
      grid-area: box5;

    }
  }
}
